{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/paginapersonalphp/users/add" >Add User</a></li>
    <li><a href="/paginapersonalphp/jobs/add" >Add Job</a></li>
    <li><a href="/paginapersonalphp/projects/add" >Add Project</a></li>
</ul>
<br><br>
<a href="/paginapersonalphp/logout" >Logout</a>
{% endblock %}
